<div class="card-body">
    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Direction</th>
                <td>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch2443">
                        <label class="custom-control-label" for="customSwitch2443">Up</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Direction</th>
                <td>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch26576">
                        <label class="custom-control-label" for="customSwitch26576">Down</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Step</th>
                <td>
                    <div class="custom-control custom-switch">
                        <input />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@code {

}
