<table class="table table-striped table-hover table-sm">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Test Ponts?</th>
            <th scope="col">Weight Delta?</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">How Many Test Points</th>
            <td>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch2443" checked>
                    <label class="custom-control-label" for="customSwitch2443">Ascending</label>
                </div>
            </td>
            <td>
                <input size="10" value="4" />
            </td>
            <td>
                <input size="10" value="250" />
            </td>
        </tr>
        <tr>
            <th scope="row">How Many Test Points</th>
            <td>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch26576">
                    <label class="custom-control-label" for="customSwitch26576">Descending</label>
                </div>
            </td>
            <td>
                <input size="10" value="0" />
            </td>
            <td>
                <input size="10" value="0" />
            </td>
        </tr>
        <tr>
            <th scope="row">Return to Zero?</th>
            <td>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch26576">
                    <label class="custom-control-label" for="customSwitch26576">?</label>
                </div>
            </td>
            <td></td>
            <td>
                <input size="10" value="500" />
            </td>
        </tr>
    </tbody>
</table>

@code {

}
