<!-- Sidebar -->
@*@using CalibrationSaaS.Blazor.Controls*@
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.WebAssembly.Http
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

@inject BrowserService BrowserService
@inject ILogger<NavMenu> Logger;


<div>

    @*<button id="sidebarToggleTop" class="btn btn-link  rounded-circle mr-3" onclick="showSideNav()">
            <i class="fa fa-bars"></i>
        </button>*@

    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion sidebarcustom" id="accordionSidebar">


        @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#accordionSidebar"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>*@

        <!-- Sidebar - Brand -->
        <NavLink class="sidebar-brand d-flex align-items-center justify-content-center" href="" Match="NavLinkMatch.All">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-balance-scale"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Calibration <sup>SaaS</sup></div>
        </NavLink>


        <li class="nav-item active align-content-center align-items-center align-self-center" style="background:rgba(255,255,255,0.5);">
            <div>
                @*<img src="img/logo/Kavoku-LOGO-02.png" width="80" />*@
                <img class="img-fluid" style="width: 6rem;align-self:center;align-content:center;align-items:center" src="img/logo/Kavoku-LOGO-02.png" alt="">
            </div>
        </li>



        <AuthorizeView>
            <Authorized>
                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item active">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </NavLink>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider">
                <div class="sidebar-heading">
                    Calibration Business
                </div>
                <AuthorizeView Context="_context">
                    <Authorized>
                        @if (CanShow)
                        {
                            <!-- Nav Item - Basics -->
                            <li class="nav-item">
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#dvBasics" aria-expanded="true" aria-controls="collapseTwo1">
                                    <i class="fas fa-fw fa-mobile-alt"></i>
                                    <span>Basics</span>
                                </a>
                                <div id="dvBasics" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                                    <div class="bg-white py-2 collapse-inner rounded">
                                        <h6 class="collapse-header">Basics Actions:</h6>
                                        <NavLink class="collapse-item" href="SearchEquipmentType">Equipment Type</NavLink>
                                        <NavLink class="collapse-item" href="ManufacturerSearch">Manufacturer</NavLink>
                                        <NavLink class="collapse-item" href="EquipmentSearch">Equipment Template</NavLink>
                                        <NavLink class="collapse-item" href="UOMManager">
                                            Unit Of Measurement
                                        </NavLink>
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#dvCompany" aria-expanded="true" aria-controls="collapseTwo1">
                                    <i class="fas fa-fw fa-user-alt"></i>
                                    <span>Company</span>
                                </a>
                                <div id="dvCompany" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                                    <div class="bg-white py-2 collapse-inner rounded">
                                        <h6 class="collapse-header">Company Actions:</h6>
                                        <NavLink class="collapse-item" href="UserSearch">Technicians</NavLink>
                                    </div>
                                </div>
                            </li>

                            <!-- Nav Item - Customers -->
                            <li class="nav-item">
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#dvCustomers" aria-expanded="true" aria-controls="collapseTwo">
                                    <i class="fas fa-fw fa-user-astronaut"></i>
                                    <span>Customer</span>
                                </a>
                                <div id="dvCustomers" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                                    <div class="bg-white py-2 collapse-inner rounded">
                                        <h6 class="collapse-header">Customer Actions:</h6>
                                        <NavLink class="collapse-item" href="SearchCustomer">Search</NavLink>
                                    </div>
                                </div>
                            </li>
                            <!-- Nav Item - Assets -->
                            <li class="nav-item">
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#dvPoE" aria-expanded="true" aria-controls="collapseTwo">
                                    <i class="fas fa-fw fa-balance-scale-right"></i>
                                    <span>Assets</span>
                                </a>
                                <div id="dvPoE" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                                    <div class="bg-white py-2 collapse-inner rounded">
                                        <h6 class="collapse-header">Customer Actions:</h6>
                                        <NavLink class="collapse-item" href="PieceOfEquipmentSearch">Piece Of Equipment</NavLink>
                                        @*<NavLink class="collapse-item" href="PieceOfEquipmentCreate/0">Add Piece of Equipment</NavLink>*@
                                        <NavLink class="collapse-item" href="weightCreateCSV">Weight Set</NavLink>

                                    </div>
                                </div>
                            </li>
                        }

                    </Authorized>
                    <NotAuthorized>

                    </NotAuthorized>
                </AuthorizeView>


                <!-- Nav Item - Assets -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#dvOrd" aria-expanded="true" aria-controls="collapseTwo3">
                        <i class="fas fa-fw fa-file-invoice-dollar"></i>
                        <span>Orders</span>
                    </a>
                    <div id="dvOrd" class="collapse" aria-labelledby="headingTwo3" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Customer Actions:</h6>
                            @*<NavLink class="collapse-item" href="WorkOrderSearch">Search Work Order</NavLink>*@
                            <NavLink class="collapse-item" href="WorkOrderSearchNew">Work Order</NavLink>
                            <NavLink class="collapse-item" href="WorkOrderDetailXStatus">WOD by Status </NavLink>
                            <NavLink class="collapse-item" href="WorkOrderDetailXEquipment">WOD by Equipment </NavLink>
                            <NavLink class="collapse-item" href="WorkOrderDetailXCustomer">WOD by Due Date </NavLink>
                            @*<NavLink class="collapse-item" href="WorkOrderCreate/0">Create Work Order</NavLink>
                                <NavLink class="collapse-item" href="WorkOrderItem/1">Work Order Detail</NavLink>*@
                        </div>
                    </div>
                </li>
                <!-- Nav Item - Assets -->
                @if (!CanShow)
                {
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#dvOffline" aria-expanded="true" aria-controls="collapseTwo3">
                            <i class="fas fa-fw fa-file-invoice-dollar"></i>
                            <span>Offline</span>
                        </a>
                        <div id="dvOffline" class="collapse" aria-labelledby="headingTwo3" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Offline:</h6>
                                @*<NavLink class="collapse-item" href="WorkOrderSearch">Search Work Order</NavLink>*@
                                <NavLink class="collapse-item" href="WODOff">Load WOD</NavLink>
                                <NavLink class="collapse-item" href="OffLineData">Load Data</NavLink>
                                <NavLink class="collapse-item" href="OfflineManager">Manager</NavLink>

                                @*<NavLink class="collapse-item" href="WorkOrderCreate/0">Create Work Order</NavLink>
                                    <NavLink class="collapse-item" href="WorkOrderItem/1">Work Order Detail</NavLink>*@
                            </div>
                        </div>
                    </li>
                }

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#dvTools" aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Settings</span>
                    </a>
                    <div id="dvTools" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Security:</h6>

                            <NavLink class="collapse-item" href="SecurityCreate">Roles and Permissions</NavLink>

                        </div>
                    </div>
                </li>
                <!-- Nav Item - Tools -->
                @*<li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#dvTools" aria-expanded="true" aria-controls="collapseTwo">
                            <i class="fas fa-fw fa-ambulance"></i>
                            <span>Tools</span>
                        </a>
                        <div id="dvTools" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Tooling:</h6>
                                <NavLink class="collapse-item" href="CustomerEdit">Validation Example</NavLink>
                                <NavLink class="collapse-item" href="CustomerValidation">Validation with Business Logic</NavLink>
                                <NavLink class="collapse-item" href="CustomerDetails">Toast Example</NavLink>
                                <NavLink class="collapse-item" href="ModalPopup">Modal Test</NavLink>
                                <NavLink class="collapse-item" href="AddCustomer">Add Customer</NavLink>
                                <NavLink class="collapse-item" href="GetReport/1">Get Report</NavLink>
                                <NavLink class="collapse-item" href="GetReportPoints/1">Get Certificate</NavLink>
                                <NavLink class="collapse-item" href="GetReportUncertBudget/27">Report Uncertainty</NavLink>
                                <NavLink class="collapse-item" href="GetReportByTestPoint/27">Report by TestPoint</NavLink>
                                <NavLink class="collapse-item" href="GetSticker/1">Get Sticker</NavLink>
                                <NavLink class="collapse-item" href="Claims">Claims</NavLink>
                                <NavLink class="collapse-item" href="SecurityCreate">Security</NavLink>

                            </div>
                        </div>
                    </li>*@

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Options
                </div>
                <!-- Nav Item - Dashboard -->
                @*<li class="nav-item active">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <i class="fas fa-fw fa-cog"></i>
                            <span>Settings</span>
                        </NavLink>
                    </li>*@


                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>
            </Authorized>
            <NotAuthorized>

            </NotAuthorized>
        </AuthorizeView>

        @*<li>
                <button @onclick="ShowInfo">Show Info</button>
                @infoString

            </li>*@


    </ul>
</div>
@code{

    [CascadingParameter]
    private Task<AuthenticationState> stateTask { get; set; }
    private string infoString { get; set; }

    private async void ShowInfo()
    {
        var user = (await stateTask).User;

        infoString = $"Is admin: {user.IsInRole("admin")}"; // Always False
    }



    protected bool CanShow { get; set; } = true;

    public async Task<BrowserDimension> GetDimensions()
    {

        try
        {


            var dimension = await BrowserService.GetDimensions();

            return dimension;
            //Height = dimension.Height;
            //Width = dimension.Width;
        }
        catch (Exception ex)
        {
            //Logger.LogDebug(ex.Message);
            throw ex;


        }

    }

    protected async override Task OnInitializedAsync()
    {


        var a = await Show();
        if (a)
        {
            CanShow = true;
        }
        else
        {
            CanShow = false;
        }
        ConnectionStatusService.OnChange += DecideMenuElementsToshow;
    }


    private async Task DecideMenuElementsToshow(bool connectionStus)
    {
        await InvokeAsync(async () =>
        {
            var a = await Show();

            var CanShow2 = connectionStus;

            if (a && CanShow2)
            {
                CanShow = true;
            }
            else
            {
                CanShow = false;
            }

            StateHasChanged();

        });
    }

    public async Task<bool> Show()
    {

        try
        {
            var a = await GetDimensions();


            if (a.Width < 560)
            {
                return false;
            }
            else
            {
                return true;
            }

        }
        catch (Exception ex)
        {
            //Console.WriteLine("error dimension");
            return true;
        }


    }

}
