@inject IJSRuntime JSRuntime

<div class="progress" style="display:none" id="@ID">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%"></div>
</div>

@code {
    [Parameter]
    public string ID { get; set; }

    public async Task ShowProgressBar()
    {
        await JSRuntime.InvokeVoidAsync("showProgressBar", ID);
        StateHasChanged();
    }

    public async Task CloseProgressBar()
    {
        await JSRuntime.InvokeVoidAsync("closeProgressBar", ID);
        StateHasChanged();
    }
}
