/* Loading indicator styles */
#app-loading-indicator {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-out;
}

#app-loading-indicator.loaded {
    opacity: 0;
    pointer-events: none;
}

/* Hide the loading indicator completely after fade-out */
#app-loading-indicator.hidden {
    display: none;
}
