<div class="simple-form">

    <div class="form-group">
        <label for="last-name"> Do you want to switch to online mode?</label>
    </div>

    <button @onclick="SubmitForm" class="btn btn-primary">Yes</button>
    <button @onclick="Cancel" class="btn btn-secondary">No</button>
</div>


@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    async Task  SubmitForm()
    {
        await ModalInstance.CloseAsync(ModalResult.Ok($"Form was submitted successfully."));
    }

    async Task Cancel()
    {
      await  ModalInstance.CloseAsync();
    }
}
