<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="..\..\..\..\..\..\..\..\Program Files\dotnet\dotnet.exe" arguments="&quot;C:\Users\jpardo\.nuget\packages\microsoft.aspnetcore.components.webassembly.devserver\5.0.7\build\../tools/blazor-devserver.dll&quot; serve --applicationpath &quot;C:\Users\jpardo\source\repos\CalibrationSaaS\src\CalibrationSaaS\CalibrationSaaS.Infraestructure.Blazor\bin\Debug\net5.0\CalibrationSaaS.Infraestructure.Blazor.dll&quot;" stdoutLogEnabled="false" hostingModel="InProcess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>