

@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
</head>
<body>
    <div class='header'><h1>Report LTI</h1></div>
     <img src="~/images/LTIlog.JPG" style="width:100%; max-width:150px;">
    <div>
        <button>Generate PDF</button>
    </div>
    <table align='center'>
        <tr>
            
        </tr>;

    </table>
</body>
</html>